<div class="awsm-grid-wrapper no-touchevents">
<div class="awsm-modal">
<div class="awsm-grid-modal awsm-grid modal-style style-1 grid-4-col ">
{% for committee_member in include.committee_members %}
	{% assign profile_image = committee_member.LogoURL %}
	{% for file in site.static_files %}
		{% if file.basename == committee_member.MemberID %}{% assign profile_image = site.url | append: file.path %}{% endif %}
	{% endfor %}
	<div id="awsm-member-{{ forloop.index0 }}" class="awsm-grid-card awsm-team-item awsm-scale-anm awsm-all">
		<span id="tigger-style-{{ forloop.index0 }}" class="awsm-team-link-control awsm-modal-trigger awsm-modal-trigger-{{ forloop.index0 }}" data-trigger="#modal-style-{{ forloop.index0 }}">
			<figure>
				<img width="500" height="500" style="object-fit: cover !important; aspect-ratio: 1 / 1 !important;" src="{{ profile_image }}" class="attachment-awsm_team size-awsm_team wp-post-image" alt="" decoding="async">
				<figcaption>
					<div class="awsm-personal-info">
						<span class="committee_member-role">{% if committee_member.Role != 'None' %}{{ committee_member.Role }}<br>{% endif %}</span><span>{{ committee_member.Title }} at {{ committee_member.Organization.Name }}</span>
						<h3>{{ committee_member.FirstName }} {{ committee_member.LastName }}</h3>
					</div>
				</figcaption>
			</figure>
		</span>
	</div>
{% endfor %}
</div>

<div class="awsm-modal-items modal-style style-1 grid-4-col ">
	<span class="awsm-team-link-control awsm-modal-close"></span>
	<div class="awsm-modal-items-main">
		<span class="awsm-team-link-control awsm-nav-item awsm-nav-left"></span>
		{% for committee_member in include.committee_members %}
		{% assign profile_image = committee_member.LogoURL %}
		{% for file in site.static_files %}
		{% if file.basename == committee_member.MemberID %}{% assign profile_image = site.url | append: file.path %}{% endif %}
		{% endfor %}
		<div id="modal-style-{{ forloop.index0 }}" class="awsm-modal-item awsm-scale-anm awsm-modal-hidden awsm-all " data-info="7774">
			<div id="awsm-member-info-{{ forloop.index0 }}" class="awsm-modal-content">
				<div class="awsm-modal-content-main">
					<div class="awsm-image-main">
						<img width="500" height="500" style="object-fit: cover !important; aspect-ratio: 1 / 1 !important;" src="{{ profile_image }}" class="attachment-awsm_team size-awsm_team wp-post-image" alt="" decoding="async" loading="lazy">
					</div>
					<div class="awsm-modal-details">
						<div class="awsm-modal-content-inner">
							<h3><span class="committee_member-role">{% if committee_member.Role != 'None' %}{{ committee_member.Role }}<br></span>{% endif %}{{ committee_member.Title }} at {{ committee_member.Organization.Name }}</h3>
							<h2>{{ committee_member.FirstName }} {{ committee_member.LastName }}</h2>
							<div id="fws_6414ab3e0c4bd" data-column-margin="default" data-midnight="dark" class="wpb_row vc_row-fluid vc_row" style="padding-top: 0px; padding-bottom: 0px; ">
								<div class="row-bg-wrap" data-bg-animation="none" data-bg-animation-delay="" data-bg-overlay="false">
									<div class="inner-wrap row-bg-layer">
										<div class="row-bg viewport-desktop" style=""></div>
									</div>
								</div>
								<div class="row_col_wrap_12 col span_12 dark left">
									<div class="vc_col-sm-12 wpb_column column_container vc_column_container col no-extra-padding inherit_tablet inherit_phone " data-padding-pos="all" data-has-bg-color="false" data-bg-color="" data-bg-opacity="1" data-animation="" data-delay="0">
										<div class="vc_column-inner">
											<div class="wpb_wrapper">
												<div class="wpb_text_column wpb_content_element ">
													<div class="wpb_wrapper">
														<p><!-- placeholder for bio --></p>
													</div>
												</div>
											</div> 
										</div>
									</div> 
								</div>
							</div>
							<div class="awsm-social-icons">
								{% if committee_member.Twitter and committee_member.Twitter != 'https://twitter.com/N/A' %}
								<span><a href="{{ committee_member.Twitter }}" target="_blank"><i class="awsm-icon-twitter" aria-hidden="true"></i></a></span>
								{% endif %}
								{% if committee_member.AboutMe %}
								{% if committee_member.AboutMe.LinkedIn %}
								<span><a href="{{ committee_member.AboutMe.LinkedIn }}" target="_blank"><i class="awsm-icon-linkedin" aria-hidden="true"></i></a></span>
								{% endif %}
								{% if committee_member.AboutMe.GitHub %}
								<span><a href="{{ committee_member.AboutMe.GitHub }}" target="_blank"><i class="awsm-icon-github" aria-hidden="true"></i></a></span>
								{% endif %}
								{% endif %}
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% endfor %}
		<span class="awsm-team-link-control awsm-nav-item awsm-nav-right"></span>
	</div> 
</div>
</div>
</div>
