{% for committee_member in include.committee_members %}
	{% assign mod4 = forloop.index | modulo: 4 %}
	{% if mod4 == 1 %} 
	<div class="col span_12 left" data-midnight="dark">
	{% endif %}
		<div class="vc_col-sm-3 wpb_column column_container vc_column_container col has-animation no-extra-padding one-fourths single-person instance-2 triggered-animation animated-in" data-using-bg="true" data-shadow="none" data-border-animation="" data-border-animation-delay="" data-border-width="none" data-border-style="solid" data-border-color="" data-bg-cover="" data-padding-pos="all" data-has-bg-color="true" data-bg-color="#fff" data-bg-opacity="0" data-hover-bg="#fff" data-hover-bg-opacity="0" data-animation="fade-in-from-bottom" data-delay="0" style="transform: none; opacity: 1;">
			<div class="vc_column-inner">
				<div class="wpb_wrapper">									
					<div class="single-person-grid">
						<div class="span_12 single-person-header">
							<div class="single-person-icon">
								<img src="{{ committee_member.LogoURL }}">
							</div>
							<div class="single-person-title">
								<h3>{{ committee_member.FirstName }} {{ committee_member.LastName }}</h3>
								<h5>{% if committee_member.Role != 'None' %}{{ committee_member.Role }}<br>{% endif %}{{ committee_member.Title }} at {{ committee_member.Organization.Name }}</h5>
							</div>
						</div> <!-- End Single person Header -->
						<div class="single-person-description">
							<p class="short_description"><!-- placeholder for short description --></p>
							<p class="read-more"><a href="#" data-featherlight="#{{ committee_member.FirstName | downcase | handleize }}-{{ committee_member.LastName | downcase | handleize }}">Read More</a></p>
							<div class="social-links">
								{% if committee_member.linkedin %}
								<a href="https://www.linkedin.com/in/" target="blank" title="LinkedIn"><i class="fa fa-linkedin"></i></a>
								{% endif %}
								{% if committee_member.twitter %}
								<a href="https://twitter.com/" target="blank" title="Twitter"><i class="fa fa-twitter"></i></a>
								{% endif %}
								{% if committee_member.github %}
								<a href="https://github.com/" target="blank" title="Github"><i class="fa fa-github"></i></a>
								{% endif %}
							</div>
							<div id="{{ committee_member.FirstName | downcase | handleize }}-{{ committee_member.LastName | downcase | handleize }}" class="lightbox">
								<p class="description"></p>
									<p><!-- placeholder for bio --></p>
								<p></p>
							</div>                 
						</div>
					</div>
				</div>
			</div>
		</div>
	{% if mod4 == 0 or forloop.last %} 
	</div>
	{% endif %}
{% endfor %}
