<style>
div.gallery {
	display: flex;
	flex-wrap: wrap;
	font: Calibri;
	place-content: center;
}
div.member {
	width: 130px;
	text-align: center;
}
.name, .role, .title, .company {
	display: block;
	margin-top: 5px;
  font-family: Calibri, sans-serif;
}
.role {
	font-weight: bold;
}
.headshot {
	height: 90px;
	width: 90px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin: auto;
	display: block;
}
.headshot img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	transform: translate(-50%,-50%);
}

</style>

<div class="gallery">
{% for committee_member in include.committee_members %}
<div class="member"{% if committee_member.Role == 'Chair' %} style="order: -{{ forloop.index0 }};"{% endif %}>
	{% assign profile_image = committee_member.LogoURL %}
	{% for file in site.static_files %}
		{% if file.basename == committee_member.ID %}{% assign profile_image = file.path %}{% endif %}
	{% endfor %}
	<span class="headshot"><img src="{{ profile_image }}"></span>
	<span class="name">{{ committee_member.FirstName }} {{ committee_member.LastName }}</span>
	<span class="role committee_member-role">{% if committee_member.Role != 'None' %}{{ committee_member.Role }}{% endif %}</span>
	<span class="title">{{ committee_member.Title }}</span>
	<span class="company">{{ committee_member.Organization.Name }}</span>
</div>
{% endfor %}
</div>
