<style>
div.gallery {
	display: flex;
	flex-wrap: wrap;
	font-family: Calibri, sans-serif;
	place-content: center;
}
div.member {
	width: 130px;
	text-align: center;
}
.name, .role, .title, .company {
	display: block;
	margin-top: 5px;
	font-family: Calibri, sans-serif;
}
.role {
	font-weight: bold;
}
.headshot {
	height: 90px;
	width: 90px;
	position: relative;
	overflow: hidden;
	border-radius: 50%;
	margin: auto;
	display: block;
}
.headshot img {
	position: absolute;
	left: 50%;
	top: 50%;
	height: 100%;
	width: auto;
	transform: translate(-50%,-50%);
}

</style>

<div class="gallery">
{% for committee_member in include.committee_members %}
<div class="member"{% if committee_member.Role == 'Chair' %} style="order: -{{ forloop.index0 }};"{% endif %}>
	<span class="headshot"><img alt="{{ committee_member.FirstName }} {{ committee_member.LastName }}" src="{%- include snippets/headshot.html profile_image=committee_member.LogoURL member_id=committee_member.MemberID %}"></span>
	<span class="name">{{ committee_member.FirstName }} {{ committee_member.LastName }}</span>
	<span class="role committee_member-role">{%- include snippets/role.html role=committee_member.Role -%}</span>
	<span class="role appointed_by">{%- include snippets/appointedby.html appointedby=committee_member.AppointedBy -%}</span>
	<span class="title">{{ committee_member.Title }}</span>
	<span class="company">{%- include snippets/orgname.html orgname=committee_member.Organization.Name -%}</span>
</div>
{% endfor %}
</div>
