---
---

{% assign filenameparts = page.name | replace: ".md", "" | replace: ".html", "" | split: "_" %}

{% if page.data-source %}
{% assign data-source = page.data-source %}
{% else %}
{% assign data-source = filenameparts[0] %}
{% endif %}

{% if page.render %}
{% assign render = page.render %}
{% elsif filenameparts.size > 1 %}
{% assign render = filenameparts[1] %}
{% else %}
{% assign render = "slidedeck" %}
{% endif %}

{% if page.filter %}
{% assign filter = page.filter %}
{% elsif filenameparts.size > 2 %}
{% assign filter = filenameparts[2] %}
{% else %}
{% assign filter = "voting" %}
{% endif %}

{% case filter %}
  {% when "allbutstaff" %}
    {% assign committee_members = site.data[data-source].Data | where_exp:"Item", "Item.Role != 'LF Staff'" %}
  {% when "all" %}
    {% assign committee_members = site.data[data-source].Data %}
  {% when "alternates" %}
    {% assign committee_members = site.data[data-source].Data | where:'VotingStatus', 'Alternate Voting Rep' %}
  {% when "voting-and-alternates" %}
    {% assign committee_members = site.data[data-source].Data | where_exp:"Item", "Item.VotingStatus == 'Voting Rep' or Item.VotingStatus == 'Alternate Voting Rep'" %}
  {% when "staff" %}
    {% assign committee_members = site.data[data-source].Data | where:'Role', 'LF Staff' %}
  {% when "voting" %}
    {% assign committee_members = site.data[data-source].Data | where:'VotingStatus', 'Voting Rep' %}
  {% else %}
    {% assign committee_members = site.data[data-source].Data | where:'VotingStatus', 'Voting Rep' %}
{% endcase %}

<!--
DEBUG:

data-source: {{ data-source }}
render: {{ render }}
filter: {{ filter }}

-->
{{ content }}

{% include {{render}}.html committee_members=committee_members %}
